@using YinXiang.Models
@model ManageDeviceViewModel


<div class="container-fluid">

    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">批次管理</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
        </ol>*@
    <h3>设备管理</h3>
    <hr>

    <div class="card mb-3">
        <div class="card-header">
            @*<i class="fas fa-table"></i>
                Data Table Example*@
            <ul class="nav">
                <li class="nav-item">
                    <a class="btn" href="#" data-toggle="modal" data-target="#addDevice">添加设备</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @{
                    var grid = new WebGrid(Model.Devices);
                }
                @grid.GetHtml(columns: grid.Columns(
                                grid.Column("Device.Name", header: "设备名称"),
                                grid.Column("Device.Type", header: "设备类型"),
                                grid.Column("Device.IP", header: "ip地址"),
                                grid.Column("User.UserName", header: "绑定账号"),
                                grid.Column("Device.CreateTime", header: "添加日期", format:  @<text>@item.Device.CreateTime.ToString("d")</text>)
                             ),
                         tableStyle: "table table-bordered")
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">添加设备</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("addDevice", "ManageDevice", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="modal-body">

                <div class="form-group">
                    <label for="formGroupExampleInput">设备名称</label>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="设备名称">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">类型</label>
                    @Html.DropDownList("Type",
                    new SelectList(Enum.GetValues(typeof(DeviceType))),
                    "选择设备类型",
                    new { @class = "form-control" })
                    @*<input type="text" class="form-control" id="Type" name="Type" placeholder="设备名称">*@
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">IP地址</label>
                    <input type="text" class="form-control" id="IP" name="IP" placeholder="IP地址">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">端口</label>
                    <input type="text" class="form-control" id="Port" name="Port" placeholder="端口">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">作业键值</label>
                    <input type="text" class="form-control" id="JobFieldName" name="JobFieldName" placeholder="作业键值">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">账号</label>
                    @Html.DropDownList("UserId", Model.AccountItems, "选择账号", new { @class = "form-control" })
                    @*<input type="text" class="form-control" id="Account" name="Account" placeholder="账号">*@
                </div>

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            }
        </div>

    </div>
</div>


